[Desktop Entry]
Version=1.0
Type=Application
Name=Sura
Comment=A lightweight, Qt6 based image viewer
Exec=sura %F
Icon=sura
Terminal=false
Categories=Graphics;Viewer;
